package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.plugins.Page;
import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} :${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass} <${entity}> {
    /**
    * 添加方法
    * @return
    */
    public ${entity}  add(${entity} model);
    /**
    * 删除
    * @return
    */
    public ${entity}  delete(${entity} model);
    /**
    * 修改方法
    * @return
    */
    public ${entity}  update(${entity} model);
    /**
    * 单个查询
    * @return
    */
    public List<${entity}> query(${entity} model);

    /**
    * 条件查询分页列表
    * @param pageParam
    * @return
    */
    public Page page(${entity} pageParam);

}
#end
